/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

input {
    font-size: 14px;
}

body {
    line-height: 1.4;
    color: #333333;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    margin-bottom: 16px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #1e212d;
}

input {
    border: 1px solid #eeeeee;
    padding: 12px;
    outline: none;
}

button {
    cursor: pointer;
    padding: 12px;
    background: #3a6351;
    border: none;
    color: white;
    font-size: 16px;
    transition: background .3s ease;
}

button:hover {
    background: #1f441e;
}

button:disabled {
    cursor: default;
    background: #3a6351;
}

/* Join Page Styles */

.centered-form {
    background: #333744;
    width: 100vw;
    height: 100vh;   
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("5.jpg");
    background-size: cover;
}

.centered-form__box {
    box-shadow: 0px 0px 17px 1px #1D1F26;
    background: #dddddd;
    padding: 24px;
    width: 250px;
}

.centered-form button {
    width: 100%;
}

.centered-form input {
    margin-bottom: 16px;
    width: 100%;
}

/* Chat Page Layout */

.chat {
    display: flex;
}

.chat__sidebar {
    height: 100vh;
    color: white;
    background: #333744;
    width: 225px;
    overflow-y: scroll
}

/* Chat styles */

.chat__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    background-image: url("backg.png");
}

.chat__messages {
    flex-grow: 1;
    padding: 24px 24px 0 24px;
    overflow-y: scroll;
}

/* Message Styles */

.message {
    margin-bottom: 16px;   
}

.message__name {
    font-weight: 600;
    font-size: 14px;
    margin-right: 8px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.05em;
    font-size: 15px;
}

.message__meta {
    color: #777;
    font-size: 14px;
    
    
}
.para-d {
    font-family: 'Karla', sans-serif;
}

.message a {
    color: #282d2e;
    font-family: 'Karla', sans-serif;
    
}

/* Message Composition Styles */

.compose {
    display: flex;
    flex-shrink: 0;
    margin-top: 16px;
    padding: 24px;
}

.compose form {
    display: flex;
    flex-grow: 1;
    margin-right: 16px;
}

.compose input {
    border: 1px solid #eeeeee;
    width: 100%;
    padding: 12px;
    margin: 0 16px 0 0;
    flex-grow: 1;
}

.compose button {
    font-size: 14px;
    margin: 0 16px 0 0;
}

/* Chat Sidebar Styles */

.room-title {
    font-weight: 400;
    font-size: 22px;
    background: #2c2f3a;
    padding: 24px;   
    font-family: 'Poiret One';
    letter-spacing: 0.1em;
    font-weight: bolder;
    font-size: 35px;
}

.list-title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 4px;
    padding: 12px 24px 0 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.users {
    list-style-type: none;
    font-weight: 300;
    padding: 12px 24px 0 24px;
    font-family: 'Yantramanav', sans-serif;
    
}

ul {
    list-style: none; /* Remove default bullets */
  }
  
ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: green; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: 0em; /* Also needed for space (tweak if needed) */
}

.inputspace {
    height: 45px;
    border-radius: 25px;
}

.sendbtn {
    height: 45px;
    width: 45px;
    border-radius: 20px;
}

.locbtn {
    height: 45px;
    width: 45px;
    border-radius: 20px;
}

.locbtn .loctext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    
    z-index: 1;
  }

  .locbtn:hover .loctext {
    visibility: visible;
  }

  .indexinput {
    height: 45px;
    border-radius: 25px;
  }

  .indexbtn {
    height: 45px;
    border-radius: 25px;
    background-color: #3a6351;
    color: #dddddd;
  }

  .locate {
      margin-top: 5px;
    height: 35px;
    border-radius: 10px;
    background-color: #7eca9c;
    text-align: center;
    padding-top: 7px;
  }
  
  .locate:hover {
    background: #ccffbd;
}